<div class="row">
    <a href="index.php" class="btn btn-primary btn-sm " role="button" aria-pressed="true" style="margin-right: 3px">Students</a>
    <a href="course.php" class="btn btn-primary btn-sm " role="button" aria-pressed="true" style="margin-right: 3px">Course</a>
    <a href="section.php" class="btn btn-primary btn-sm " role="button" aria-pressed="true" style="margin-right: 3px">Section</a>
    <a href="grade_report.php" class="btn btn-primary btn-sm " role="button" aria-pressed="true" style="margin-right: 3px">Grade_Report</a>
    <a href="prerequisite.php" class="btn btn-primary btn-sm " role="button" aria-pressed="true">Prerequisite</a>
</div>